<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type ="text/css" href="css/project02.css">
  <title>Mammals of North America</title>
</head>
<body>
    <h1>Learn about Mammals!</h1>
    <div>
        <form action='/getAnimalsByOrder' method='get' id='inputForm'>
        Order: <select class='input' name='input'>
            <% for(var i=0; i < list.length; i++) {%>
              <option value='<%=list[i].order_name %>'><%=list[i].order_name %></option>
            <% } %>
        </select><br><br>
        <input type='submit' class='directory' id='submit' name='byOrder' value='Search'>
        </form>
    </div>
    <div>
        <a href='/'><ul class='directory'>Return Home</ul></a>
    </div>
</body>