<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type ="text/css" href="css/project02.css">
  <title>Mammals of North America</title>
</head>
<body>
    <h1>Learn about Mammals!</h1>
    
        <% for(var i=0; i < list.length; i++) {%>
            <div>
            Animal name: <%=list[i].animal_name %> <br>
            Order: <%=list[i].a_order %><br>
                <!-- stuff to print out descriptions
                $descFile = '../project1Data/' . $row['size_description'];
                $desc = fopen($descFile, "r") or die("Unable to open file!");
                print('<div class=\'desc\'>' . fread($desc,filesize($descFile)) . '</div><br>');
                fclose($desc); -->
            </div>
        <% } %>
    <div>
        <a href='/'><ul class='directory'>Return Home</ul></a>
    </div>
</body>