<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/project02.css">
    <title>Mammals of North America</title>
</head>
<body>
    <h1>Learn about Mammals!</h1>
    <div>
        <% for(var i=0; i < list.length; i++) {%>
            <form action='/animalLookup' method='get'><span id='Logo' style='display:none'>
            <input type='radio' checked name='input' value='<%=list[i].animal_name %>'></span>
            <input type='submit' name='byName' class='directory' value='<%=list[i].animal_name %>'></form>
        <% } %>
    </div>
</body>